body{
    background-color: rgb(98, 172, 238);
}

fieldset{
    color: white; /*font color*/
    border: white 3px solid; 
}
fileInput{
    font: 15px Courier, sans-serif;
    color: white;
}

h1{  
    font: 25px Courier, sans-serif;
    font-weight: bold;
    color: white;
}
h2{
    font: 20px Courier, sans-serif;
    color: white;

}

button {
    background-color: 
button:hover{ /* turning cursor to pointer when hovered over submit button*/
    cursor: pointer;
    background-color: #f0f8ff; /*changing background color of button when hovered*/
}

.center {
    text-align: center;

  }


