body{
    background-color: rgb(72, 165, 184);
}

fieldset{
    color: white; /*font color*/
    border: white 3px solid; 
}

h1{
    font-style: oblique;
    color: white;
}

button:hover{ /* turning cursor to pointer when hovered over submit button*/
    cursor: pointer;
}

.center {
    text-align: center;

  }
