body{
  background-color: rgb(72, 165, 184);
}

fieldset{
  color: white; /*font color*/
  border: white 3px dashed; 
}

fileInput{
  font: 15px Courier, sans-serif;
  color: white;
}

h1{
  font: 25px Courier, sans-serif;
  font-weight: bold;
  color: white;
}

h2{
  font: 20px Courier, sans-serif;
  color: white;
}

/* turning cursor to pointer when hovered over submit button*/
button:hover{
  cursor: pointer;
}

.center {
  text-align: center;
}

/* next-page  styles */
.next-page button:hover{
background-color: rgb(72, 165, 184);
text-align: center;
color: white
}
.next-page{
position: absolute; 
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%); 
}
.next-page a{
color: white;
margin: auto;
}
.next-page button{
background-color: white;
border-radius: 90px;
border-color: black;
font-size: 20px;
padding: 1rem;
color: rgb(72, 165, 184);
}

.next-page h1{
color: white;
font-family: Courier, sans-serif;
font-size: xx-large;
}

.next-page p{
  font: 20px Courier, sans-serif;
  color: white;
}

/* header styles */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1{
  color: rgb(72, 165, 184);
  font-size: 30px;
  line-height: 0em
}

.header h2{
  color: rgb(72, 165, 184);
  font-size: 15px;
  font-style: italic;
}

/* footer styles */
footer { 
  position: absolute; 
  text-align: center;
  bottom: 0; 
  left: 50%; 
  transform: translate(-50%, -50%);
  padding: 2px;
  color: white;
}

.footer box{
  width: 200px;
  height: 100px;
  padding: 10px;
  margin: 10px;
}
.footer h1{
  color: rgb(72, 165, 184);
  background: white;
}